#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.sessionDisplayWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  text-align: center;
}

.sessionDisplayCard {
  background-color: rgb(202, 236, 236);
  border-radius: 20px;
  color: blue;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sessionForm {
  background-color: rgb(169, 217, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
}
