
# Pipenv / venv
.venv/
server/.venv/

# SQLite
*.db
*.sqlite
*.sqlite3
instance/

# Python

server/__pycache__/
*.pyc

# Flask instance folder
instance/
server/instance/
.python-version

# Env vars
.env
server/.env
