
# Pipenv / venv
.venv/
server/.venv/

# SQLite
*.db
*.sqlite
*.sqlite3
instance/

# Python

server/__pycache__/
*.pyc
.python-version

# Env vars
.env
server/.env

# Front End Files To Ignore

node_modules/
client/node_modules/
dist/
client/dist/
.env

